ADMIN_IDS=
BOT_TOKEN=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_AUTH_URI=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PROJECT_ID=
FIREBASE_TOKEN_URI=
LOG_LEVEL=
RATE_LIMIT_CALLBACK=
RATE_LIMIT_CALLBACK_WINDOW=
RATE_LIMIT_SETUP=
RATE_LIMIT_SETUP_WINDOW=
RATE_LIMIT_SUBSCRIPTION=
RATE_LIMIT_SUBSCRIPTION_WINDOW=
TIMEZONE=
WEB_ADMIN_KEY=
GEMINI_API_KEY=